<!-- 确保已经导入了layerui如果父已经导入了 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wall-E update-DbModel</title>
<link href="../static/module/layui/css/layui.css" rel="stylesheet">
<link href="../static/app/dbmodel/css/create.css" rel="stylesheet">
</head>
<body project-id="">
<div class="layui-form">
  <form class="dbmodel-form">
    <input name="dbmodel.project_id" type="hidden">
    <table class="layui-table" lay-skin="nob">
      <colgroup>
        <col width="200">
        <col width="200">
      </colgroup>
      <tbody>
        <tr>
          <td>
            <label class="layui-form-label">model名称</label>
            <div class="layui-input-block">
              <input name="dbmodel.id" type="hidden" value="${model.id}">
              <input name="dbmodel.name" type="text" placeholder="默认使用下划线命名,如: sys_user_car"class="layui-input" value="${model.name}">
            </div>
          </td>
          <td>
            <label class="layui-form-label">model描述</label>
            <div class="layui-input-block">
              <input name="dbmodel.describe" type="text" placeholder=""class="layui-input" value="${model.describe}">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="layui-form-label">类名</label>
            <div class="layui-input-block">
              <input name="dbmodel.class_name" type="text" placeholder="如果为NULL默认为model名称的驼峰命名,如: SysUserCar"class="layui-input" value="${model.class_name}">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="layui-form-label">包名</label>
            <div class="layui-input-block">
              <input name="generate.id" type="hidden" value="${generate.id}">
              <input name="generate.package" type="text" placeholder="org.hacker.module" class="layui-input" value="${generate.package}">
            </div>
          </td>
          <td>
            <label class="layui-form-label">模块名</label>
            <div class="layui-input-block">
              <input name="generate.module_name" type="text" placeholder="可以跟类名一致(小写)" class="layui-input" value="${generate.module_name}">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <form class="dbmodel-item-form">
    <div class="layui-tab layui-tab-brief" lay-filter="model-form">
      <ul class="layui-tab-title">
        <li class="layui-this">表单设计</li>
        <li>网页设计</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <blockquote class="layui-elem-quote layui-quote-nm module-engine">
            请选择mysql的引擎
            <select name="generate.module_engine" lay-verify="">
              <option value="InnoDB">InnoDB</option>
              <option value="MyISAM">MyISAM</option>
            </select>
          </blockquote>
          <blockquote class="layui-elem-quote layui-quote-nm">
            db目前暂时只支持mysql,目前只提供少量的mysql-type,所有的column使用下划线命名规范,默认会添加`create_date`,`modify_date`2个DATETIME字段 <button class="layui-btn layui-btn-small layui-btn-normal create-form">添加栏位</button>
          </blockquote>
          <table class="layui-table">
            <colgroup>
              <col width="10">
              <col width="200">
              <col width="200">
              <col width="200">
              <col width="70">
              <col width="70">
              <col width="80">
              <col width="10">
              <col width="10">
              <col width="10">
            </colgroup>
            <thead>
              <tr>
                <th>序号</th>
                <th>名称</th>
                <th>注释</th>
                <th>类型</th>
                <th>长度</th>
                <th>小数点</th>
                <th>默认值</th>
                <th>主键</th>
                <th>非空</th>
                <th>操作</th>
              </tr> 
            </thead>
            <tbody class="model-form-item">
            @for (item in modelItem) {
            @if (item.name == "create_date" || item.name == "modify_date") continue;
            <tr draggable="true">
						  <input type="hidden" name="model.serial" value="${item.serial}">
						  <td>${item.serial}</td>
						  <td>
						    <input name="model.name" type="text" placeholder="" class="layui-input" value="${item.name}">
						  </td>
						  <td>
						    <input name="model.note" type="text" placeholder="注释可以帮助生成excel导出" class="layui-input" value="${item.note}">
						  </td>
						  <td>
						    <select name="model.type" lay-verify="required" lay-filter="type">
								  <option value="">物理类型</option>
								  <optgroup label="数值类型">
								    <option value="INTEGER" @if(item.type == "INTEGER") print("selected=true");
								    >INTEGER</option>
								    <option value="BIGINT" @if(item.type == "BIGINT") print("selected=true");
								    >BIGINT(通常是主键)</option>
								    <option value="DECIMAL" @if(item.type == "DECIMAL") print("selected=true");
								    >DECIMAL(用于浮点数)</option>
								  </optgroup>
								  <optgroup label="字符类型">
								    <option value="VARCHAR" @if(item.type == "VARCHAR") print("selected=true");
								    >VARCHAR</option>
								  </optgroup>
								  <optgroup label="日期类型">
								    <option value="DATETIME" @if(item.type == "DATETIME") print("selected=true");
								    >DATETIME</option>
								  </optgroup>
								  <optgroup label="布尔类型">
								    <option value="BIT" @if(item.type == "BIT") print("selected=true");
								    >BIT(用于bool)</option>
								  </optgroup>
								</select>
						  </td>
						  <td>
						    <input name="model.length" type="text" placeholder="" class="layui-input" value="${item.length}">
						  </td>
						  <td>
						    <input name="model.decimal" type="text" placeholder="" class="layui-input" value="${item.decimal}">
						  </td>
						  <td>
						    <input name="model.default_value" type="text" placeholder="" class="layui-input" value="${item.default_value}">
						  </td>
						  <td>
						    <input name="model.is_primary" type="hidden" value="${item.is_primary}">
						    <input type="checkbox" placeholder="" class="layui-input" lay-skin="switch" lay-filter="primary" @if(item.is_primary) print("checked=true");
						    >
						  </td>
						  <td>
						    <input name="model.is_required" type="hidden" value="${item.is_required}">
						    <input type="checkbox" placeholder="" class="layui-input" lay-skin="switch" lay-filter="required" @if(item.is_required) print("checked=true");
						    >
						  </td>
						  <td>
						    <button class="layui-btn layui-btn-small layui-btn-danger delete-form">删除</button>
						  </td>
						</tr>
            @}
            </tbody>
          </table>
          <div class="adapter-layui-select"></div>
        </div>
        <div class="layui-tab-item"></div>
      </div>
    </div>
  </form>
</div>
</body>
<script type="text/html" id="model-item">
<tr>
  <input type="hidden" name="model.serial" value="SERIAL">
  <td>SERIAL</td>
  <td>
    <input name="model.name" type="text" placeholder="" class="layui-input">
  </td>
  <td>
    <input name="model.note" type="text" placeholder="注释可以帮助生成excel导出" class="layui-input">
  </td>
  <td>
    @include("_model_type_select.html") {}
  </td>
  <td>
    <input name="model.length" type="text" placeholder="" class="layui-input">
  </td>
  <td>
    <input name="model.decimal" type="text" placeholder="" class="layui-input">
  </td>
  <td>
    <input name="model.default_value" type="text" placeholder="" class="layui-input">
  </td>
  <td>
    <input name="model.is_primary" type="hidden">
    <input type="checkbox" placeholder="" class="layui-input" lay-skin="switch" lay-filter="primary">
  </td>
  <td>
    <input name="model.is_required" type="hidden">
    <input type="checkbox" placeholder="" class="layui-input" lay-skin="switch" lay-filter="required">
  </td>
  <td>
    <button class="layui-btn layui-btn-small layui-btn-danger delete-form">删除</button>
  </td>
</tr>
</script>

<script src="../static/module/jquery/jquery-1.9.1.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="../static/module/layui/layui.js"></script>
<script type="text/javascript">
Global = {};
Global.base = '${base}';

layui.use(['layer', 'form', 'element'], function() {
  var 
  $       = layui.jquery,
  form    = layui.form(),
  element = layui.element(),
  layer   = layui.layer;

  // 一些事件监听
  element.on('tab(model-form)', function(data){});

  form.on('select(type)', function(data){
    var td = $(data.elem).parent();
    if(data.value == 'INTEGER') {
      td.next().children().val(10);
      td.next().next().children().val(0);
    } else if(data.value == 'BIGINT') {
      td.next().children().val(19);
      td.next().next().children().val(0);
    } else if(data.value == 'DECIMAL') {
      td.next().children().val(12);
      td.next().next().children().val(2);
    } else if(data.value == 'VARCHAR') {
      td.next().children().val(64);
      td.next().next().children().val(0);
    } else if(data.value == 'DATETIME') {
      td.next().children().val(0);
      td.next().next().children().val(0);
    } else if(data.value == 'BIT') {
      td.next().children().val(1);
      td.next().next().children().val(0);
    }
  });

  // primary|required
  form.on('switch(primary)', function(data){
    if(data.elem.checked) {
      $(data.elem).prev().val(1)
    } else {
      $(data.elem).prev().val(0)
    }
  });

  form.on('switch(required)', function(data){
    if(data.elem.checked) {
      $(data.elem).prev().val(1)
    } else {
      $(data.elem).prev().val(0)
    }
  });
  
  // ---------------init-----------------
  // 初始化表单
  // 初始化数据库引擎
  var option = 'option[value=${generate.module_engine!'InnoDB'}]';
  $('select[name="generate.module_engine"]').find(option).attr('selected', true);

  form.render();
  // 初始化projectId
  $('input[name="dbmodel.project_id"]').val(${projectId});
  // ---------------init-----------------

  $('.create-form').on('click', function(){
    var s = $('#model-item').html();
    // 获取最后一个tr的序列号SERIAL
    var serial = $('.model-form-item tr:last').children().eq(1).html();
    s = s.replace(new RegExp(/SERIAL/g), parseInt(serial) + 1);
    $('.model-form-item').append(s);
    form.render();
    return false;
  });

  $(document).on('click', '.delete-form', function(){
    var tr_list = $('.model-form-item').children();
    if(tr_list.length == 1) {
      layer.msg('没东西可删除了');
      return false;
    }
    $(this).parent().parent().remove();
    generateSeq();
  });

  // 重构序列号
  var generateSeq = function() {
    var tr_list = $('.model-form-item').children();
    // 重构序列号
    for(var i = 1; i <= tr_list.length; i++) {
      var td = tr_list.eq(i - 1).children();
      td.eq(0).val(i);
      td.eq(1).html(i);
    }
  }

  // 拖拽事件
  $( ".model-form-item" ).sortable();
  $( ".model-form-item" ).draggable({
    axis: "y"
  });
  $( ".model-form-item tr" ).disableSelection();
});
</script>
</html>