body {
  padding: 10px;
}
.adapter-layui-select {
  width: 100%;
  height: 300px;
}
.create-form {
  float: right;
}
.slaves-select {
  display: none;
}
.module-engine .layui-form-select {
  float: right;
  width: 220px;
  position: relative;
  bottom: 8px;
}